body {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 19px;
}
div {
    border: 1px solid black;
    padding: 3px 2px 4px 4px;
    width: 298px;
}
.operands {
    color: #FFF;
    font-size: 20px;
    background-color: #403F3F;
    width: 55px;
    height: 55px;
    margin-bottom: 2px;
    border: 1px solid #E5E4E3;
    border-radius: 10px;
}
.numbers {
    color: #FFF;
    font-size: 20px;
    background-color: #403F3F;
    width: 95px;
    height: 50px;
    border: 1px solid #E5E4E3;
    border-radius: 10px;
}
#a {
    width: 295px;
    height: 70px;
    background-color: lightgrey;
    border: 1px solid black;
    margin-bottom: 3px;
}
